<h1><%= t("view.task.headline_show") %></h1>

<table>
  <tbody>
    <tr>
      <th><%= Task.human_attribute_name(:id) %></th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:description) %></th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <td><%= @task.created_at %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:updated_at) %></th>
      <td><%= @task.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to t("view.task.link_index"), tasks_path %>
<%= link_to t("view.task.link_edit"), edit_task_path %>
<%= link_to t("view.task.link_destroy"), task_path, method: :delete, data: { confirm: "「#{@task.name}」#{t("view.task.destroy_confirm")}" } %>