<h1><%= t("view.user.headline_index") %></h1>

<%= link_to t("view.task.link_new"), new_admin_user_path, class: "btn btn-primary" %>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <th><%= t("view.user.task_count") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= user.tasks.count %></td>
        <td>
          <%= link_to t("view.task.link_edit"), edit_admin_user_path(user.id), class: "btn btn-primary mr-2" %>
          <%= link_to t("view.task.link_destroy"), admin_user_path(user.id), method: :delete, data: { confirm: "「#{user.name}」#{t("view.task.destroy_confirm")}" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>