<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand">TaskApp</div>
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "#{t("view.user.link_admin")}", admin_users_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item"><%= link_to "#{t("view.task.headline_index")}", tasks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "#{t("view.user.headline_show")}", user_path(current_user.id), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "#{t("view.session.button_logout")}", session_path(current_user.id), method: :delete, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <a class="close" data-dismiss="alert" type="button">×</a>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
